* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    background-image: url(../img/Zodiaco.png);
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

main {
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

h1 {
    color: #dc3545;
    margin-bottom: 1rem;
    font-family: pinecone-mvb-rough2;
    font-weight: 400;
    font-size: 2.1rem;
}

.formulario {
    width: 26rem;
    padding: 2rem;
    margin-top: 3.5rem;
    background-color: white;
    border-radius: 1rem;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
}

input,
select {
    width: 100%;
    padding: 8px 16px;
    border-radius: 5px;
    border: 1px solid #b8b8b8;
    color: #515151;
}

.inputDia,
.inputMes {
    background-color: #ededed;
}

.btn {
    margin: 5px 0;
}

.inputBox {
    display: block;
    padding: 5px 0;
}

.flexBox {
    display: flex;
    gap: 0.5rem;
}

.alert {
    border-radius: 1rem;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
    min-width: 90vw;
    min-height: 90vh;
    z-index: 2;
}

.card{
    min-width: 90%;
}

.imgContainer {
    width: 40%;
}

.textContainer {
    width: 60%;
}

.info {
    padding-top: 3rem;
}